<link rel="stylesheet" href="{{url_for('.static', filename='css/dashboard.css')}}" />
<link rel="stylesheet" href="{{url_for('.static', filename='css/showlist.css')}}" />

<div class="dashboard">
  <div class="dashboard-nav">
    <header>
      <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="{{ url_for('dashboard') }}"
        class="brand-logo"><i class="fas fa-anchor"></i> <span>Dashboard</span></a>
    </header>
    <nav class="dashboard-nav-list">
      <a href="{{ url_for('dashboard') }}" class="dashboard-nav-item"><i class="fas fa-home"></i> Overview </a><a
        href="{{url_for('download_file')}}" download class="dashboard-nav-item"><i class="fas fa-file-upload"></i>
        Download
      </a>
      <!-- <a href="dataset" class="dashboard-nav-item"><i class="fas fa-file-upload"></i>
        Dataset
      </a> -->
      <a href="showlist" class="dashboard-nav-item"><i class="fas fa-file-upload"></i>
        Dataset
      </a>


      <a href="detect" class="dashboard-nav-item"><i class="fas fa-file-upload"></i>
        Video
      </a>

      <div class="nav-item-divider"></div>
      <a href="{{ url_for('logout') }}" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </nav>
  </div>
  <div class="dashboard-app">
    <!-- <header class="dashboard-toolbar">
      <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
    </header> -->
    <div class="dashboard-content">

      <nav class="bg-dark navbar-dark">
        <div class="container">

        </div>
      </nav>


      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 1</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>
          <br>
          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 2</h5>

                <a href="dataset1" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>
          <br>

          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 3</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>
          <br>
          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 4</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>
          <br>
          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 5</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>
                <!-- <button href="{{ url_for('dataset') }}" type="button" class="btn btn-default">Left</button> -->

              </div>
            </div>
          </div>
          <br>
          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 6</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>
          <br>
          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 7</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>
          <br>
          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 8</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>
          <br>
          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 9</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>

          <br>

          <div class="col-lg-4 mb-4">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">dataset 10</h5>

                <a href="dataset" class="btn btn-outline-success btn-sm">import dataset</a>

              </div>
            </div>
          </div>
        </div>

        </section>


      </div>
    </div>
  </div>